@import "tailwindcss";

@theme {
  
  --color-bg: #0d0f12;
  --color-surface: #1e2330;
  --color-border: #2d3748;      
  --color-muted: #718096;       
  --color-accent: #e8ff47;      

  
  --color-warning: #f59e0b;     
  --color-info: #3b82f6;        
  --color-success: #10b981;     
  --color-danger: #ef4444;      

  /* Animación para la clase .card */
  --animate-slide-up: slide-up 0.2s ease-out;

  @keyframes slide-up {
    from {
      transform: translateY(4px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}



@utility btn-primary {
  @apply bg-accent text-bg font-mono font-bold text-sm px-5 py-2.5 rounded-sm 
         hover:bg-yellow-300 active:scale-95 transition-all duration-150 cursor-pointer;
}

@utility btn-ghost {
  @apply border border-border text-muted font-mono text-sm px-4 py-2 rounded-sm 
         hover:border-accent hover:text-accent transition-all duration-150 cursor-pointer;
}

@utility btn-danger {
  @apply bg-danger/10 border border-danger/30 text-danger font-mono text-sm px-4 py-2 rounded-sm 
         hover:bg-danger/20 transition-all duration-150 cursor-pointer;
}

@utility input-field {
  @apply w-full bg-bg border border-border text-slate-200 font-sans text-sm rounded-sm px-3 py-2.5
         focus:outline-none focus:border-accent transition-colors duration-150 placeholder-muted;
}

@utility card {
  @apply bg-surface border border-border rounded-sm p-5 hover:border-accent/30 
         transition-all duration-200 animate-slide-up;
}

@utility badge-pendiente {
  @apply bg-warning/10 text-warning border border-warning/20 text-xs font-mono px-2 py-0.5 rounded-sm;
}

@utility badge-progreso {
  @apply bg-info/10 text-info border border-info/20 text-xs font-mono px-2 py-0.5 rounded-sm;
}

@utility badge-resuelto {
  @apply bg-success/10 text-success border border-success/20 text-xs font-mono px-2 py-0.5 rounded-sm;
}

@utility badge-baja {
  @apply bg-muted/20 text-muted border border-muted/20 text-xs font-mono px-2 py-0.5 rounded-sm;
}

@utility badge-media {
  @apply bg-warning/10 text-warning border border-warning/20 text-xs font-mono px-2 py-0.5 rounded-sm;
}

@utility badge-alta {
  @apply bg-danger/10 text-danger border border-danger/20 text-xs font-mono px-2 py-0.5 rounded-sm;
}


* {
  box-sizing: border-box;
}

body {
  background-color: #0d0f12;
  color: #e2e8f0;
  font-family: 'DM Sans', sans-serif;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0d0f12;
}

::-webkit-scrollbar-thumb {
  background: #1e2330;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e8ff47;
}